.container {
  background-color: aliceblue;
  border-radius: 5px;
  border: 0.5px solid black;
  min-width: 50%;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.07);
  overflow: hidden;

  &__header {
    padding: 1em 1em 0.1em 1em;
    background: rgb(82, 82, 198);
    color: white;
  }

  &__card-list {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    min-height: auto;
    max-height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  &__selected {
    background: #528cc6;
  }
}
