<div class="container">
  <div class="container__header">
    <h1>Available Clients</h1>
  </div>
  <div class="container__loading" *ngIf="isFetching">
    <h1 *ngIf="isFetching">Loading</h1>
  </div>
  <div class="container__card-list" *ngIf="!isFetching">
    <mat-paginator
      [length]="this.filteredClients.length"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      [pageSize]="5"
      (page)="onPageChange($event)"
    >
    </mat-paginator>

    <div *ngFor="let client of pageSelction">
      <app-client
        [client]="client"
        (openDialog)="onOpenDialog($event)"
      ></app-client>
    </div>
  </div>
</div>
