<div class="container">
  <div
    class="container__header"
    [ngClass]="{ container__selected: listType === 'selected' }"
  >
    <h1 *ngIf="listType === 'unselected'; else selected">Available Clients</h1>
    <ng-template #selected>
      <h1>Selected Clients</h1>
    </ng-template>
    <button mat-raised-button (click)="onDisplaySelected($event)" [disabled]="!selectedClients.length">{{ listType === 'unselected' ? 'See team View' : 'See available Clients' }}</button>
  </div>
  <div class="container__loading" *ngIf="isFetching">
    <h1 *ngIf="isFetching">Loading</h1>
  </div>
  <div class="container__card-list" *ngIf="listType === 'unselected'">
    <mat-paginator
      [length]="filteredClients.length"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      [pageSize]="5"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
    <div>
      
    </div>
    <div *ngFor="let client of pageSelection">
      <app-client
        [client]="client"
        (openDialog)="onOpenDialog($event)"
      ></app-client>
    </div>


  </div>

  <div class="container__card-list" *ngIf="listType === 'selected'">
    <div *ngFor="let client of selectedClients">
      <app-client
        [client]="client"
        (openDialog)="onOpenDialog($event)"
      ></app-client>
    </div>
  </div>
</div>
