<app-header></app-header>
<div class="container">
  <h1>Welcome to Client Hub</h1>
  <h2>Please select number of clients to display</h2>
  <div *ngIf="isFetching">
    <h1>Loading</h1>
  </div>
  <div class="container__search">
    <app-search
      [clients]="clients"
      [resultsOptions]="resultsOptions"
      (searchDataEvent)="filterBySearch($event)"
      (paramsFormData)="onGetClientData($event)"
    ></app-search>
  </div>

  <h2 *ngIf="!filteredClients.length">No Search results</h2>

  <div class="container__clients-list">
    <app-clients-list
      *ngIf="filteredClients.length"
      listType="unselected"
      [clients]="clients"
      [filteredClients]="filteredClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onAddClientToList($event)"
    ></app-clients-list>

    <app-clients-list
      *ngIf="selectedClients.length"
      listType="selected"
      [filteredClients]="selectedClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onRemoveClientFromList($event)"
    ></app-clients-list>
  </div>
</div>
