<app-header></app-header>
<div class="container">
  <div *ngIf="isFetching">
    <h1>Loading</h1>
  </div>
  <app-search
    [clients]="clients"
    (searchDataEvent)="filterBySearch($event)"
    (paramsFormData)="onUpdateResults($event)"
  ></app-search>
  <h2 *ngIf="!filteredClients.length">No Search results</h2>



  <div class="container__actions">
    <app-clients-list
      *ngIf="filteredClients.length"
      listType="unselected"
      [clients]="clients"
      [filteredClients]="filteredClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onAddClientToList($event)"
      (paginationData)="onHandlePageEvent($event)"
    ></app-clients-list>

    <app-clients-list
      *ngIf="selectedClients.length"
      listType="selected"
      [filteredClients]="selectedClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onRemoveClientFromList($event)"
      (paginationData)="onHandlePageEvent($event)"
    ></app-clients-list>
  </div>
</div>
