<app-header></app-header>
<div class="container">
  <div class="container__search">
    <app-search
      [clients]="clients"
      [resultsOptions]="resultsOptions"
      (searchDataEvent)="filterBySearch($event)"
      (paramsFormData)="onGetClientData($event)"
    ></app-search>
  </div>
  
  <div class="container__clients-list">
    <app-clients-list
      *ngIf="filteredClients.length"
      listType="unselected"
      [isFetching]="isFetching"
      [filteredClients]="filteredClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onAddClientToList($event)"
    ></app-clients-list>

    <app-clients-list
      *ngIf="selectedClients.length"
      listType="selected"
      [filteredClients]="selectedClients"
      (openDialog)="onOpenDialog($event)"
      (selectedClient)="onRemoveClientFromList($event)"
    ></app-clients-list>
  </div>
</div>
