.container {
  &__card {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-width: 500px;
    gap: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.07);
    background: white;
    overflow: hidden;

    @media (max-width: 768px) {
      height: auto;
      flex-direction: column;
      min-width: auto;
      width: auto;
    }
  }

  &__content {
    padding: 1em 1em 1em 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      justify-content: center;
      padding: 1em;
    }
  }

  &__name {
    font-size: 28px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__img-container {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #5252c6;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__img {
    width: 120px;
    border-radius: 50%;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    width: 9em;
    gap: 1em;

    @media (max-width: 768px) {
      width: 100%;
      gap: 0;
      justify-content: center;
    }
  }

  &__selected {
    background-color: #43437e;
    color: white;
  }
}
