<div class="container">
  <div class="container__params">
    <form action="" [formGroup]="paramsForm" (submit)="onUpdateResults()">
      <mat-form-field appearance="fill">
        <mat-label>Results</mat-label>
        <mat-select formControlName="results">
          <mat-option *ngFor="let option of options" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
        <!-- <mat-hint>Add the number of clients to display</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Number of Pages</mat-label>
        <mat-select formControlName="pages">
          <mat-option *ngFor="let option of options" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
        <!-- <mat-hint>Add the number of clients to display</mat-hint> -->
      </mat-form-field>
      <button mat-raised-button type="submit">Submit Application</button>
    </form>
  </div>
  <div class="container__search" *ngIf="clients.length">
    <!-- <label>Search</label> -->
    <input
      matInput
      class="container__input"
      name="search"
      placeholder="Filter Client by Name"
      (input)="submitSearch($event)"
    />
  </div>
</div>
