.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1em;
  gap: 2em;
  padding: 2em;
  background: rgb(82, 82, 198);
  height: 100vh;

  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
  }

  &__hint {
    color: white;
  }


  &__params {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
