<div class="container">
  <div class="container__params">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" >
      <mat-label>Results</mat-label>
      <mat-select [(ngModel)]="resultsValue" (selectionChange)="onUpdateResults()">
        <mat-option *ngFor="let result of resultsOptions" [value]="result">
          {{ result }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p class="container__hint" *ngIf="!resultsValue">Select number to display results</p>
  </div>

  <div class="container__search" *ngIf="clients.length">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Filter </mat-label>
        <input
          type="text"
          matInput
          placeholder="Filter by name"
          (input)="submitSearch($event)"
        />
      </mat-form-field>
    </form>
  </div>
</div>
