.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1em;
    gap: 2em;

    &__input {
        margin-top: -20px;
        padding: 0.7em 0.5em;
        min-width: 300px;
    }
}