<div class="container">
  <img
    class="container__img"
    src="{{ client.picture.large }}"
    alt="thumbnail"
  />

  <div class="container__content">
    <h1 class="container__title">
      {{ client.name.first }} {{ client.name.last }}
    </h1>
    <p>
      <span class="container__key">Location:</span>
      {{ client.location.city }}
    </p>
    <p><span class="container__key">Email:</span> {{ client.email }}</p>
    <p><span class="container__key">Phone:</span> {{ client.phone }}</p>

    <div class="container__buttons">
      <button
        mat-raised-button
        color="primary"
        (click)="onAddRemoveClient(client)"
      >
      {{ client.isSelected ? 'Remove from team' : 'Add to team' }}
      </button>
      <button mat-raised-button color="primary" (click)="onCloseModal()">
        Close
      </button>
    </div>
  </div>
</div>
