.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0;

    &__content {
        padding: 1em;
    }

    &__key {
        font-weight: bold;
    }

    &__img-container {
        height: auto;
    }
  
    &__img {
        width: 250px;
    }

    &__buttons {
        display: flex;
        gap: 1em
    }
}