<div class="container">

    <img
      class="container__img"
      src="{{ clientData.picture.medium }}"
      alt="thumbnail"
    />

  <div class="container__content">
    <h1 class="container__title">
        {{ clientData.name.first }} {{ clientData.name.last }}
      </h1>
    <p><span>Location:</span> {{ clientData.location.city }}</p>
    <p><span>Email:</span> {{ clientData.email}}</p>
    <p><span>Phone:</span> {{ clientData.phone}}</p>

      <button mat-raised-button color="primary" (click)="onCloseModal()">Close</button>
  </div>

</div>
